.center {
	width: 1200px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.visible {
	opacity: 1!important;
}
.mall-top {
	background-color: #f2f2f2;
}
.mall-top .center {
	height: 32px;
	line-height: 32px;
}
.mall-top .center .top-left {
	width: 400px;
	position: relative;
}
.top-left .icon-location {
	width: 15px;
	height: 17px;
	margin: 0 3px;
	background: url(../img/logoicons.png) no-repeat 0 1px;
	float: left;
	position:relative;
	top: 8px;
}
.top-left .top-left-province {
	float: left;
	margin-right: 4px;
}
.top-left .top-left-location {
	float: left;
	margin-right: 8px;
}
.top-left .icon-phone {
	width: 15px;
	height: 17px;
	margin: 0 3px;
	background: url(../img/logoicons.png) no-repeat 0 -14px;
	float: left;
	position: relative;
	top: 8px;
}
.top-left .top-left-phone {
	color: #e61f59;
}
.top-right ul li {
	float: left;
}
.top-right ul div {
	border-left: 1px solid black;
	height:20px;
	float: left;
	position: relative;
	top: 6px;
	margin: 0 6px;
}
.top-right ul li a {
	display: block;
	padding: 0 4px;
	box-sizing: border-box;
	text-decoration: none;
	color: #696969;
}
.top-right .icon-paid {
	width: 18px;
	height: 18px;
	margin: 0 3px;
	background: url(../img/logoicons.png) no-repeat 0 -30px;
	float: left;
	position: relative;
	top: 8px;
	border-left: 0;
	parding: 4px;
}

.top-head {
	height:135px;
	width: 200px;
}

.mall-head .head-logo{
	width: 200px;
	height: 135px;
	background: url(../img/oglogo.jpeg)
}
.mall-head .head-right{
	margin-top: 43px;
	margin-right: 100px;
}
.head-right .search-main{
	width: 550px;
	height: 40px;
	display: flex;
	justify-content: space-between;
	background-color:red;
}
.search-main .search-text{
	width: 456px;
	height: 40px;
	border: 2px solid #e61f59;
	box-sizing: border-box;
	padding: 6px;
	outline: none;
}
.search-main .search-btn{
	width: 94px;
	height: 40px;
	box-sizing: border-box;
	font-size: 16px;
}
.search-btn a {
	display: block;
	height: 100%;
	width: 94px;
	line-height: 40px;
	position: relative;
	padding-left: 45px;
	color: #fff;
}
.search-btn .icon-search {
	background: url(../img/searchicon001.png) no-repeat 1px 1px;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 10px;
	left: 12px;
}
.head-right .search-categroy{
	margin-top: 10px;
}
.search-categroy ul li {
	float: left;
	margin: 0 5px;
}
.search-categroy ul li a {
	color: #696969;
}

.mall-nar {

}
.mall-nav .nav-bar {
	height: 32px;
	margin-left: 240px;
	display: flex;
	justify-content:space-between;
}
.nav-bar li {
	height: 32px;
	margin: 0 15px;
	font-size: 14px;
}
.nav-bar li a {
	color: #000;
}
.mall-carousel {
    position: relative;
}
.mall-carousel .carousel-images{
	width: 1200px;
	height: 560px;
	position: relative;
}
.carousel-images ul {
	width: 1920px;
	height: 560px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.carousel-images ul li {
	opacity: 0;
    transition: opacity 0.6s;
	width: 1920px;
	height: 560px;
	position: absolute;
}
.bgc1 {
	background: url("../img/46a9a59d274d24cf02ce834bc6a6d1b2.jpg");
}
.bgc2 {
	background: url("../img/8211e0d6c051cdd972032edfc2b7bb0d.jpg");
}
.bgc3 {
	background: url("../img/5122541c082580b894a3105013d9a977.jpg");
}
.bgc4 {
	background: url("../img/ae17e60a7c29adae7a1661c2343d8044.jpg");
}
.carousel-images ul li a {
	width: 100%;
	height: 100%;
	display: block;
}
.mall-carousel .carousel-btn {
	position: relative;
	display: block;
	top: -560px;
}
.mall-carousel .carousel-btn-previous{
    display: block;
    height: 48px;
    width: 36px;
    position: absolute;
    top: 260px;
    left: -46px;
    background-color: red;
	border: none;
	border-radius: 4px;
	background-color: rgba(0,0,0,.5);
	margin: 0;
	padding: 0;
	cursor: pointer;
	color: white;
	font-size: 30px;
	line-height: 48px;
}
.mall-carousel .carousel-btn-next{
    display: block;
    height: 48px;
    width: 36px;
    position: absolute;
    top: 260px;
    right: -46px;
    background-color: red;
	border: none;
	border-radius: 4px;
	background-color: rgba(0,0,0,.5);
	margin: 0;
	padding: 0;
	cursor: pointer;
	color: white;
	font-size: 30px;
	line-height: 48px;
}
.mall-carousel .carousel-slide {
	position: absolute;
	top: 500px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #d2d2d2;
	padding: 6px;
	border-radius: 50px;
	opacity: .5;
}
.carousel-slide ul {
	display: flex;
	justify-content: space-between;
	width: 70px;
}
.carousel-slide ul li {
	background-color: #fff;
	width: 10px;
	height:10px;
	border-radius: 50%;
	border-shadow: 1px 0px 3px #888;

}
.carousel-slide ul li a{
	display: block;
	height: 100%;
}
.carousel-slide ul li.active {
	background-color: #d81e28;
}
.mall-carousel .carousel-categroy-left {
	width: 200px;
	height: 560px;
	background-color: rgba(0,0,0,.8);
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-600px);
}
.carousel-categroy-left{
	position: relative;
}
.carousel-categroy-left p {
	background-color: #e61f59;
	height: 32px;
	width: 200px;
	text-align: center;
	line-height: 32px;
	position: absolute;
	top: -32px;
	color: #ffffff;
}
.carousel-categroy-left ul {

}
.carousel-categroy-left ul li {
	height: 72px;
}
.carousel-categroy-left ul li:hover {
	background-color: #fff;
}


